/* TODO: refactor to use less */

body  { color: #4f4f4f; background: #F1F4F6; }
input { color: #319fb5; }

.card {
  height: 150px;
  background: white;
  border-radius: 8px;
  margin: 15px;
}
.card .image {
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 8px;
  float: left;
  margin-left: -15px;
}
.card .info {
  float: right;
}
.card .top {
  height: 100px;
}
.card .bottom {
  height: 50px;

  border-top: 1px solid #ccc;
}
.info .t1 {
  font-size: 28px;
  font-weight: 300;
}
.info .t2 {
  font-size: 22px;
}
.rating {
  background-position: 0;
  background-size: contain !important;
  width: 100px;
}
