<html>
  <head>
    <title>myTime</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
      HTML5 shim and Respond.js for IE9 support of HTML5 elements and 
      media queries
    -->
    <!--
      WARNING: Respond.js doesn't work if you view the page via file://
    -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
      </script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
      </script>
    <![endif]-->

    <link rel="stylesheet" type="text/css"
      href="assets/3p/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
      href="assets/css/main.css">
    <link rel='stylesheet' type='text/css'
      href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div data-ng-app="myTime" class="myTime">
		  <div data-ng-controller="DealCtrl" data-ng-view class="deals container" />
    </div>

    <script type="text/javascript" src="index.js"></script>

    <!-- templates begin -->
    <script type="text/ng-template" id="deal.htm">
      <div data-ng-repeat="deal in deals" class="row card">
        <div class="top col-xs-12">
          <div class="image col-xs-3"
            style="background-image:url({{deal.photo_url}});">
          </div>
          <div class="info col-xs-9">
            <div>{{deal.name}}</div>
            <div>{{deal.service_name}}</div>
            <div>{{deal.distance}} mi away</div>
            <div>Next appt {{deal.next_appt}}</div>
          </div>
        </div>
        <div class="bottom col-xs-12">
          <div class="col-xs-6">
            <div class="image rating"
              style="background-image:url({{deal.yelp_rating_image_url}});">
            </div>
          </div>
          <div class="col-xs-6">
            <span data-ng-show="{{deal.on_sale}}">Sale</span>
            ${{deal.min_price}} - ${{deal.max_price}}
          </div>
        </div>
      </div>
    </script>
    <!-- templates end -->

    <script type='text/javascript' id="__bs_script__">//<![CDATA[
      document.write("<script async src='//HOST:3001/browser-sync/browser-sync-client.1.9.1.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
    //]]></script>
  </body>
</html>
